<div class="container" style="width:28%">
    <div class="bs-component" style="margin-top: 200px">
     <form id="frmLogin" class="form-signin" role="form" action="#" method="post">
        <h2 class="form-signin-heading">Identifique-se</h2>
        <div class="form-group is-empty">
            <input type="text" 
                   class="form-control" 
                   placeholder="Login" 
                   id="login" 
                   name="login" 
                   autofocus="true" 
                   data-ng-model="login">
         </div>
        <div class="form-group is-empty">
            <input type="password" 
                   class="form-control" 
                   placeholder="Senha" 
                   id="senha" 
                   data-ng-model="senha">
         </div>
        
        <input id="btnLogin" class="btn btn-lg btn-warning btn-raised btn-block" data-ng-click="autenticar()" value="Entrar">
      </form>        
   </div> <!-- /container -->
