<h1>Clientes </h1>
<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <img ng-src="img/customers.png" alt="Clientes">
      <div class="caption">
        <h3>Clientes</h3>
        <p>Gerenciar o cadastro de clientes</p>
        <p>
            <a href="#" class="btn btn-primary" role="button">OK</a> 
            <a href="#/" class="btn btn-danger" role="button">Cancelar</a>
        </p>
      </div>
    </div>
  </div> 
  <div class="col-sm-6 col-md-8" ui-i18n="pt-br">   
    <div id="gridClientes" ui-grid="gridClientes" ui-grid-resize-columns ui-grid-edit ui-grid-move-columns ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize class="gridPadrao"></div>
  </div>
</div>
